@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a online art gallery which is run every at the end of every month where new up and comming artists can submit there work for everyone to see.</p>

</div>
